* {
  box-sizing: border-box;
}

.group,
.app,
.display,
.panel {
  display: flex;
}

.app {
  width: 700px;
  flex-direction: column;
  margin: 15px auto;
}

.button {
  font-size: 1.7rem;
  text-align: center;
  border: 1px solid gray;
}

.zero {
  width: 50%;
}

.display {
  background: #aaa;
  height: 100px;
  padding: 5px 15px;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  justify-content: flex-end;
  align-items: flex-end;
}

.panel {
  flex-direction: column;
}

.panel > * {
  height: 100px;
}
}
